<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/assets/background.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://kit.fontawesome.com/612f542d54.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Allan&family=Anton&family=Bebas+Neue&family=Courgette&family=Imbue&family=Kaushan+Script&family=Lobster&family=Nova+Square&family=Oswald:wght@300;400&family=PT+Sans+Narrow&family=Pathway+Gothic+One&family=Poppins&family=Potta+One&family=Righteous&family=Roboto:wght@300;400&family=Squada+One&family=Teko:wght@300;400&family=Trade+Winds&family=Yanone+Kaffeesatz:wght@400;500&family=Yellowtail&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/script.js" defer></script>
    <script src="js/audio.player.js" type="module" defer></script>
    <script src="js/audiomanager.js" defer></script>
    <title>Divine Music Player | v3.0.3</title>
</head>

<body class="debugmodeOn"> <!--class: debugmodeOn-->
    <section class="content">
        <section class="top-level">
            <div class="sideBar close">
                <div class="topLogoArea closeSideBar open">
                    <div class="imageFolder">
                        <img src="/assets/background.ico" alt="Logo is Loading">
                    </div>
                    <p class="textFolder">
                        Divine Music Player
                    </p>
                </div>
                <div class="separator"></div>
                <div class="menuContents">
                    <li class="active">
                        <span class="material-icons">home</span>
                        <span class="operation">Home</span>
                    </li>
                    <li>
                        <span class="material-icons">featured_play_list</span>
                        <span class="operation">Genre</span>
                    </li>
                    <li>
                        <span class="material-icons">queue_music</span>
                        <span class="operation">Playlists</span>
                    </li>
                    <li>
                        <span class="material-icons">notifications</span>
                        <span class="operation">Notifications</span>
                    </li>
                    <li>
                        <span class="material-icons">settings</span>
                        <span class="operation">Settings</span>
                    </li>
                    <li>
                        <span class="material-icons">person</span>
                        <span class="operation">Artist</span>
                    </li>
                    <div class="vspacer"></div>
                    <div class="informations">
                        <p>Preeti Adhikari</p>
                        <a href="logout">Logout</a>
                        <a class="material-icons icons" href="logout">logout</a>
                    </div>
                </div>
            </div>
            <div class="contentSec">
                <div class="searchArea">
                    <div class="queryArea">
                        <div class="search_bar" contenteditable="true"
                            placeholder="Search for your Favourite song, artist, etc." spellcheck="false"
                            data-gramm="false" data-gramm-editor="false" data-enable-grammarly="false"></div>
                        <span class="material-icons searchBtn">search</span>
                    </div>
                    <div class="autoCompletion">
                        <li>
                            <div class="imgArea">
                                <img src="assets/Image-1.jpg" alt="">
                            </div>
                            
                        </li>
                    </div>
                </div>
                <div class="separator"></div>
                <div class="contentPart">
                    <!-- Change as you wish -->
                    <div class="discover playlist">
                        <div class="heading">
                            <p>Discover</p>
                            <span class="pov">Discover new songs according to your preferences</span>
                        </div>

                        <div class="contents">
                            <!--
                                Content will be loaded programatically
                            -->
                        </div>
                        <div class="viewAll">
                            View All
                        </div>
                    </div>
                    <div class="suggestions lega">
                        <div class="heading">
                            <p>Nepali</p>
                            <span class="pov">Get new songs suggested according to your prefered genre, artist
                                etc.</span>
                        </div>
                        <div class="contents">
                            <!--
                                Content will be loaded programatically
                            -->
                        </div>
                        <div class="viewAll">
                            View All
                        </div>
                    </div>
                    <div class="sep"></div>
                </div>

                <div class="master-controls">
                    <div class="progress-bar">
                        <div class="time-indicator">
                            <span id="startTime">0:00</span>
                            <span id="endTime">0:00</span>
                        </div>
                        <input type="range" id="myProgress" value="0" alt="loading...">
                    </div>
                    <div class="master-player">
                        <div class="thumbnail parentof">
                            <img src="./assets/login.jpg" alt="Thumbnail is loading">
                        </div>

                        <div class="music-info">
                            <div class="mtitle">
                                <h1>Select Music - Divine Player</h1>
                            </div>
                            <div class="aname">
                                <p>Divine Music Player</p>
                            </div>
                        </div>

                        <div class="mcontrols">
                            <span class="material-icons arrow_back" onclick="playPrevious()">
                                arrow_back
                            </span>

                            <span class="material-icons playPauseMedia" onclick="playPausemethod()">
                                play_arrow
                            </span>
                            <span class="material-icons arrow_forward" onclick="playNext()">
                                arrow_forward
                            </span>
                            <span class="material-icons repeat" onclick="repeat()">
                                <i id="repeatBtn" class="material-icons">repeat</i>
                                
                            </span>
                        </div>
                        <!-- <div class="expansion">
                            
                        </div> -->
                    </div>
                </div>
            </div>
        </section>
        <!-- </section> -->
    </section>
    <script src="/js/script.js"></script>
</body>

</html>
